<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ls.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--将IPCTargetActivity共享出去-->
        <activity
            android:name=".ipc.IPCTargetActivity"
            android:label="IPC目标页面"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <!--隐式跳转必须指定action,category.DEFAULT,data协议可选-->
                <action android:name="com.ls.test.IPC"  />
                <!--访问协议是："info://xxxUri",xxxUri可通过getIntent().getData().getHost()获取-->
                <data android:scheme="info"  />
                <category android:name="android.intent.category.DEFAULT"  />
            </intent-filter>
        </activity>
    </application>

</manifest>