<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liusong.app">

    <!--访问test moudle中contentProvider权限-->
    <uses-permission android:name="com.ls.test.provider"/>
    <uses-permission android:name="com.ls.test.provider.READ_PROVIDER"/>
    <uses-permission android:name="com.ls.test.provider.WRITE_PROVIDER"/>

    <!--联网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--读写-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--SDcard增删文件权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!--联系人-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- 拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!--banner-同时显示三个item-->
        <activity
            android:name=".ui.banner.Item3Activity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.update.DmActivity"
            android:label="一般的Apk更新方法"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <!--软键盘-->
        <activity
            android:name=".ui.keyboard.ShowHideActivity"
            android:label="Activity中监听软键盘显隐"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <!--IPC-->
        <activity
            android:name=".ui.ipc.IntentActivity"
            android:label="IPC"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <!--SQLite-->
        <activity
            android:name=".ui.db.SQLiteActivity"
            android:label="SQLite"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <!--四大组件-->
        <!--ContentResolver-->
        <activity
            android:name=".ui.ipc.ContentProviderActivity"
            android:label="ContentProvider操作数据"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <!--网络-->
        <activity
            android:name=".ui.net.NetActivity"
            android:label="Net"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
    </application>

</manifest>